<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThiLibiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F38E763B1D45FEC0006E167E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F38E76541D45FEC0006E167E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F38E765F1D45FEC0006E167E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
